<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            background-color: khaki;
        }
        .result{
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 60px ;

        }
        .butn{
            font-family: 'Baloo Paaji 2', cursive;
            font-size: 30px;
         color: azure;
    margin-left: 815px;
    border-radius: 13px;
    background-color: black;
    display: inline-block;
        }
    </style>
    <title>Submit</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow:wght@700&display=swap"
    rel="stylesheet">
    <link
    href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=Josefin+Sans:ital,wght@1,400;1,500&display=swap"
    rel="stylesheet">
</head>
<body>
    <div class="container">
    <center>    <p class="result">Your Predicted Fraud Score is</p></center>
    <button class="butn">{{ n }} </button>
</div>
</body>
</html>